/*-------------reset------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button {
  display: inline-block;
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/*----variables---*/
$base: #131313;
$white: #ffffff;
$colorBtn: #a3ff58;
$gray: #868686;

/*----base---*/
.root {
  display: flex;
  flex-direction: column;
  background-color: $base;
  color: $white;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 20px;
  font-family: 'Exo', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.header-race-btn {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.button {
  margin: 5px;
  padding: 3px 7px;
  color: $gray;
  font-size: 14px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $gray;
  box-shadow: 0 0 5px $gray;
  transition: all 0.5s ease;
  &.active {
    color: $colorBtn;
    border: 2px solid $colorBtn;
    box-shadow: 0 0 5px $colorBtn;

    &.click {
      box-shadow: 0 0 10px $colorBtn, 0 0 20px $colorBtn;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
}

.input-text {
  margin-right: 10px;
  line-height: 150%;
  padding-left: 10px;
  border-radius: 3px;
}

.input-color {
  -webkit-appearance: none;
  border: none;
  background: $white;
  width: 25px;
  height: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  line-height: 40px;
  margin: 10px 0;
  font-weight: 700;
}

.subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-right: 50px;
}

.car-item {
  margin-bottom: 10px;
  .button {
    width: 80px;
  }
}

.car-item-title {
  display: flex;
  align-items: center;
}

.car-name {
  font-size: 20px;
  margin-left: 15px;
}

.car-item-race {
  position: relative;
  display: flex;
  border-bottom: $white 3px dashed;
}

.car-icon {
  position: relative;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: end;
  svg {
    position: absolute;
    left: 10px;
    bottom: -10px;
    width: 100px;
    height: 50px;
  }
}

.finish {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 100px;
  bottom: 0;
  background-image: url('../assets/svg/flag.svg');
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}

.winners-table {
  width: 480px;
  ::first-line {
    font-size: 18px;
  }
  tr {
    height: 26px;
    th {
      margin: 3px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  div {
    margin: 0 15px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.copyright-rsschool {
  width: 70px;
  height: 25px;
  background-image: url('../assets/png/rs_school_js.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
