@font-face {
  font-family: 'GilroyMedium';
  src: url(../assets/fonts/gilroy-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'GilroyBold';
  src: url(../assets/fonts/gilroy-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy Regular Italic';
  src: url(../assets/fonts/gilroy-regularitalic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url(../assets/fonts/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(../assets/fonts/gilroy-regular.ttf);
  font-weight: 400;
}

/*-------------reset------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

body {
  color: white;
  height: 100%;
  width: 100%;
}

/*-------------variables------------*/

$black: #010101;
//$generalColor: #ffbca2;
$generalColor: #14f500;
//$rightColor: #3dda69;
$rightColor: #12db00;
//$errorColor: #ff7e7e;
$errorColor: #f5260c;
$white: #ffffff;

/*-------------general------------*/

.root {
  display: flex;
  background: rgba($black, 0.85) url(../assets/img/full/170full.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  min-height: 100%;
  padding: Clamp(30px, 4vw, 50px);
  @media (max-width: 1024px) {
    padding: Clamp(20px, 3vw, 30px);
  }

  @media (max-width: 720px) {
    padding: 15px;
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.settings-button {
  position: relative;
  display: flex;
  margin-left: auto;
  width: Clamp(30px, 4vw, 50px);
  height: Clamp(30px, 4vw, 50px);
  background: url(../assets/svg/settings.svg) no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 50%;
  transition: transform 0.5s ease-in;
  &:hover {
    transform: rotate(0.5turn);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: GilroyMedium;
  font-size: 16px;
  line-height: 16px;
  div {
    display: flex;
    transition: color 500ms ease-in;
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:not(:last-child):hover {
      color: rgba($generalColor, 0.8);
    }
  }
  .logo-rsschool {
    margin-right: auto;

    a {
      display: block;
      background: url(https://rs.school/images/rs_school_js.svg) no-repeat;
      background-size: contain;
      background-position: center center;
      width: 85px;
      height: 30px;
      transition: filter 500ms ease-in-out;
      filter: invert(1);
      &:hover {
        filter: invert(37%) sepia(47%) saturate(4563%) hue-rotate(77deg)
          brightness(80%) contrast(117%);
      }
    }
  }
  .app-developer {
  }
  .app-year {
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: Min(640px, 50vw);
}

.button-general {
  position: relative;
  font-family: GilroyMedium;
  font-size: 22px;
  line-height: 22px;
  width: 290px;
  margin: 10px;
  border: 2px solid $white;
  padding: 20px;
  text-align: center;
  color: $white;
  background-color: $black;
  box-shadow: rgba($white, 0.5) 5px 5px 5px;
  transition: all 300ms ease-in;
  &.small {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  &:hover {
    transform: translateY(4px);
    color: rgba($generalColor, 0.8);
    box-shadow: rgba($white, 0.5) 1px 1px 5px;
    border: 2px solid rgba($generalColor, 0.5);
  }
}

.button-header {
  margin: 0;
  width: 200px;
  @media (max-width: 1024px) {
    font-size: 16px;
    width: 105px;
    margin: 10px;
    border: 2px solid $white;
    padding: 10px;
  }
  @media (max-width: 520px) {
    font-size: 14px;
    width: 90px;
    margin: 5px;
    border: 2px solid $white;
    padding: 5px;
  }
}

.close-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
  transition: filter 300ms ease-in;

  &:hover {
    filter: invert(37%) sepia(47%) saturate(4563%) hue-rotate(77deg)
      brightness(80%) contrast(117%);
  }
  &.arrow {
    background-image: url('../assets/svg/arrow.svg');
  }
  &.close {
    background-image: url('../assets/svg/close.svg');
  }
}

/*-------------first-screen------------*/

.first-screen {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40%;
  }
}

.title {
  font-family: GilroyBold;
  font-size: Clamp(60px, 13vw, 130px);
  line-height: Clamp(64px, 13vw, 140px);
  margin: 20px auto;
  .color-name {
    color: $generalColor;
  }
}

.main-buttons {
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

/*-------------settings------------*/

.settings {
}

.settings-header {
}

.settings-title {
  font-family: GilroyMedium;
  font-size: 22px;
  line-height: 28px;
  margin-right: auto;
}

.settings-main {
  justify-content: space-around;
  align-items: center;
  height: 70%;
  margin-top: 20px;
}

.settings-inputs {
  display: flex;
  flex-direction: column;
  font-family: GilroyBold;
  font-size: 28px;
  width: Min(90%, 640px);
  margin: 10px;
  label {
    display: block;

    input {
      display: block;
      margin-top: 15px;
    }
    &:first-child {
      margin-bottom: Clamp(40px, 8vw, 50px);
    }
    &:not(:first-child) {
      margin-bottom: Clamp(25px, 8vw, 35px);
    }
  }
}

.volume {
  input {
    position: relative;
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    outline: none;
    background: linear-gradient(
      90deg,
      $generalColor 0%,
      $generalColor 30%,
      $white 30%,
      $white 100%
    );
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: absolute;
      width: 11px;
      height: 11px;
      left: 29%;
      top: -3px;
      border-radius: 50%;
      background: $generalColor;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      top: 10px;
    }
    &::before {
      background-image: url('../assets/svg/mute.svg');
    }
    &::after {
      right: 0;
      background-image: url('../assets/svg/volume.svg');
    }
  }
}

.sounds {
  width: 50%;
  display: flex;
}

.switch-on {
  display: inline-block;
  -webkit-appearance: none;
  position: relative;
  width: 100px;
  height: 24px;
  outline: 2px solid #ffffff;
  box-shadow: rgba($white, 0.5) 3px 3px 5px;
  background: $white;
  transition: all 300ms ease-in;
  cursor: pointer;
  z-index: 0;
  &::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 60px;
    top: 0;
    left: 40px;
    background: $generalColor;
    box-shadow: inset 0 0 3px 0 #999999;
    transition: all 300ms ease-in;
    z-index: 1;
  }
  &:hover {
    outline: 2px solid rgba($generalColor, 0.8);
  }
}
.switch-off {
  background: $white;
  &::after {
    left: 0;
    background: #e5e5e5;
  }
}

.time-choice {
}

.choice-time-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-left: -10px;

  #time-choice {
    margin-top: 0;
    text-align: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*-------------select-categories------------*/

.select-categories {
  header {
    justify-content: start;
    .title {
      font-size: Clamp(24px, 5vw, 60px);
      line-height: Clamp(26px, 5vw, 60px);
      margin: 20px 5px 0;
    }
  }
}

.select-header {
  @media (max-width: 1024px) {
    position: fixed;
    padding: 0 Clamp(20px, 4vw, 50px);
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient($black 70%, rgba($black, 0) 100%);
    z-index: 2;
  }
}

.category-name {
  color: $white;
  font-size: Clamp(14px, 0.5em, 20px);
}

.buttons-header {
  display: flex;
  @media (max-width: 1024px) {
    justify-content: center;
  }
  @media (max-width: 520px) {
    justify-content: center;
  }
}

.categories-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 200px);
  grid-column-gap: 25px;
  grid-row-gap: 40px;
  width: 100%;
  height: auto;
  margin: 30px auto;
}

.card-categories {
  position: relative;
  height: 240px;
  background-color: rgba($black, 0.5);
  cursor: pointer;
  font-family: GilroyMedium;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  transition: all 0.3s linear;
  &:hover {
    box-shadow: 5px 5px 5px -3px rgba($white, 0.6);
    transform: translateY(-2px);
    .card-score {
      color: rgba($generalColor, 0.8);
    }
    .card-score-button {
      bottom: 0px;
    }
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.card-score {
  transition: all 0.3s linear;
  &.hide {
    display: none;
  }
}

.card-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  bottom: 0;
  &.no-play {
    filter: grayscale(1);
  }
}

.card-score-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -55px;
  height: 50px;
  width: 100%;
  color: rgba($generalColor, 0.8);
  background-color: $black;
  border: 2px solid rgba($generalColor, 0.8);
  transition: all 0.3s linear;
  &.up {
  }
}

@media (max-width: 1440px) {
  .categories-container {
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
  }
}

@media (max-width: 1024px) {
  .categories-container {
    margin-top: 60px;
    grid-template-columns: repeat(3, 200px);
  }
  .card-categories {
    height: 240px;
  }
}

@media (max-width: 720px) {
  .categories-container {
    grid-template-columns: repeat(2, 155px);
  }
  .card-categories {
    height: 190px;
  }
}

/*-------------select-categories------------*/

.select-categorie {
}

.header {
  .title {
    @media (max-width: 720px) {
      display: none;
    }
  }
}

.title-small {
  display: none;
  .color-name {
    position: relative;
    z-index: 2;
    color: $generalColor;
  }
  @media (max-width: 720px) {
    display: block;
    margin-right: 15px;
    font-size: 46px;
    letter-spacing: -12px;
  }
}

.select-buttons-container {
}

.timer-button {
}

.category-button {
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90vw;
  padding: 10px 0;

  @media (max-width: 1024px) {
    margin-top: 60px;
    width: 85vw;
  }
}

.question-title {
  font-family: GilroyBold;
  font-size: 28px;
}

.question-artist-image {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 60vw;
  margin: 20px 0;
  border-radius: 10px;
  //background-image: url(../assets/img/full/210full.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (max-width: 1440px) {
    width: 70vw;
  }

  @media (max-width: 1024px) {
    width: 80vw;
  }

  @media (max-width: 720px) {
    width: 90vw;
  }
}

.bullet-container {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.answer-bullet {
  width: 14px;
  height: 14px;
  margin: 5px;
  border: $white solid 2px;
  border-radius: 50%;
  background-color: $black;
  &.right {
    background-color: $rightColor;
  }
  &.error {
    background-color: $errorColor;
  }
}

.question-artist-answers {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 300px);
  }

  @media (max-width: 720px) {
    grid-template-columns: repeat(1, 320px);
    grid-column-gap: 0;
  }
}

.artist-answer {
  font-family: GilroyMedium;
  font-size: 22px;
  color: $white;
  background-color: $black;
  border: $white solid 2px;
  text-align: center;
  padding: 15px;
  &:hover {
    box-shadow: $white 0 0 10px;
  }
  &.right-answer {
    border: $rightColor solid 2px;
    color: $rightColor;
    box-shadow: $rightColor 0 0 10px;
  }
  &.error-answer {
    border: $errorColor solid 2px;
    color: $errorColor;
    box-shadow: $errorColor 0 0 10px;
  }
  @media (max-width: 720px) {
    padding: 10px;
  }
}
