@font-face {
  font-family: 'GilroyMedium';
  src: url(../assets/fonts/gilroy-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'GilroyBold';
  src: url(../assets/fonts/gilroy-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy Regular Italic';
  src: url(../assets/fonts/gilroy-regularitalic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url(../assets/fonts/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(../assets/fonts/gilroy-regular.ttf);
  font-weight: 400;
}

/*-------------reset------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*-------------variables------------*/

$black: #010101;
//$generalColor: #ffbca2;
$generalColor: #14f500;
//$rightColor: #3dda69;
$rightColor: #12db00;
//$errorColor: #ff7e7e;
$errorColor: #f5260c;
$white: #ffffff;

/*-------------base------------*/

.root {
  display: flex;
  background: rgba($black, 0.85) url(../assets/img/full/170full.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  min-height: 100%;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin: Clamp(30px, 4vw, 50px);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 Clamp(30px, 4vw, 50px);
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: GilroyMedium;
  font-size: 16px;
  line-height: 16px;
  margin: 0 Clamp(30px, 4vw, 50px);
  div {
    display: flex;
    padding: Clamp(10px, 4vw, 30px) 0;
    transition: color 500ms ease-in;
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:not(:last-child):hover {
      color: rgba($generalColor, 0.8);
    }
  }
  .logo-rsschool {
    margin-right: auto;

    a {
      display: block;
      background: url(https://rs.school/images/rs_school_js.svg) no-repeat;
      background-size: contain;
      background-position: center center;
      width: 85px;
      height: 30px;
      transition: filter 500ms ease-in-out;
      filter: invert(1);
      &:hover {
        filter: invert(37%) sepia(47%) saturate(4563%) hue-rotate(77deg)
          brightness(80%) contrast(117%);
      }
    }
  }
  .app-developer {
  }
  .app-year {
  }
}

.button-general {
  font-family: GilroyMedium;
  font-size: 22px;
  line-height: 22px;
  width: 290px;
  margin: 10px;
  border: 2px solid $white;
  padding: 20px;
  text-align: center;
  color: $white;
  background-color: $black;
  box-shadow: rgba($white, 0.5) 5px 5px 5px;
  transition: all 300ms ease-in;
  &:hover {
    color: rgba($generalColor, 0.8);
    box-shadow: rgba($white, 0.5) 1px 1px 5px;
    border: 2px solid rgba($generalColor, 0.5);
  }
}

.arrow {
  background: url('../assets/svg/arrow.svg') no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

.close {
  background: url('../assets/svg/close.svg') no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}

/*-------------first-screen------------*/

.first-screen {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40%;
  }
}

.settings-button {
  display: flex;
  margin-left: auto;
  width: Clamp(30px, 4vw, 50px);
  height: Clamp(30px, 4vw, 50px);
  background: url(../assets/svg/settings.svg) no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 50%;
  transition: transform 0.5s ease-in;
  &:hover {
    transform: rotate(0.5turn);
  }
}

.title {
  font-family: GilroyBold;
  font-size: Clamp(60px, 13vw, 130px);
  line-height: Clamp(72px, 15vw, 160px);
  margin: 20px auto;
  span {
    color: $generalColor;
  }
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: Min(640px, 50vw);
}

/*-------------first-screen------------*/

.settings {
}

.settings-header {
}

.settings-title {
  font-family: GilroyMedium;
  font-size: 22px;
  line-height: 28px;
  margin-right: auto;
}
/*-------------1024------------*/

@media (max-width: 1024px) {
  .main-buttons {
    flex-direction: column;
    align-items: center;
  }
}

.hide {
  display: none;
}
