@font-face {
  font-family: 'Neucha';
  src: url(../assets/fonts/Neucha-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Steppe';
  src: url(../assets/fonts/Steppe.ttf);
  font-weight: 400;
}

/*-------------reset------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

body {
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

/*-------------variables------------*/
$dark-green: #152228;

/*-------------header - footer------------*/
.root {
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1480px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header,
.footer {
  width: 100%;
  height: 50px;
  background-color: $dark-green;
  font-family: Neucha;
  .container {
    display: flex;
    align-items: center;
  }
}

.header {
  height: 70px;
  font-size: 26px;
}

.footer {
  font-size: 18px;
}

.link-main-container {
  width: 60px;
  height: 60px;
  background: url('../assets/svg/tree.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  .link-main {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }
}

.link-toys,
.link-trees {
  text-transform: uppercase;
  margin-right: 25px;
}

.search-field {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  margin-left: auto;
  height: 25px;
}

.toys-count-container {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin-left: 25px;
}

.main {
  height: Calc(100% - 120px);
  width: 100%;
  background: url(../assets/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  .container {
    height: Calc(100% - 120px);
  }
}

.copyright-rsschool {
  display: block;
  width: 150px;
  height: 47px;
  background: url('../assets/svg/rs-school-logo.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: auto;
  cursor: pointer;
}

.copyright-year,
.copyright-author {
  margin-right: 10px;
}

/*-------------main toys------------*/
.settings-container {
}

.toys-container {
  display: grid;
  min-height: Max(Calc(100% - 120px), content);
  gap: 10px;
  grid-template-columns: repeat(5, 260px);
  justify-content: space-between;
  padding: 50px 0;
}

.toy-card {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  background-color: rgba($dark-green, 0.7);
  align-content: start;
  padding: 5px;
  .toy-card-title {
    width: 250px;
    text-align: center;
    font-family: Neucha;
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 10px;
  }
  .toy-card-image {
    width: 90px;
    padding: 10px;
    object-fit: contain;
  }
  .toy-card-describe {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    font-family: Neucha;
    font-size: 18px;
    .describe-content {
      padding: 5px 0;
    }
  }
}
