@font-face {
  font-family: 'Neucha';
  src: url(../assets/fonts/Neucha-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Steppe';
  src: url(../assets/fonts/Steppe.ttf);
  font-weight: 400;
}

/*-------------reset------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}
button {
  display: block;
  cursor: pointer;
}

body {
  color: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*-------------variables------------*/
$dark-color: #162226;
$shadow-color: #1d5359;
$middle-color: #297373;
$light-color: #80bfb9;
$compl-color: #a65851;
$white: #ffffff;

/*-------------header - footer------------*/
.root {
  min-height: 100%;
  width: 100%;
}

a {
  &:hover {
    color: $middle-color;
  }
}

.container {
  max-width: 1480px;
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;
}

.header,
.footer {
  width: 100%;
  height: 50px;
  background-color: $dark-color;
  font-family: Neucha;
  .container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 26px;
}

.footer {
  font-size: 18px;
}

.link-main-container {
  width: 60px;
  height: 60px;
  background: url('../assets/svg/tree.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 30px;
  .link-main {
    display: block;
    width: 60px;
    height: 60px;
  }
}

.link-toys,
.link-trees {
  text-transform: uppercase;
  margin-right: 30px;
}

.search-field {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  margin-left: auto;
  height: 25px;
  font-size: 20px;
  &:focus {
    border: $middle-color 3px solid;
  }
}

.toys-count-container {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin-left: 25px;
}

.main {
  height: Calc(100% - 120px);
  width: 100%;
  background: rgba($dark-color, 0.95) url('../assets/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  .container {
    height: Calc(100% - 120px);
    padding-top: 20px;
  }
}

.copyright-rsschool {
  display: block;
  width: 150px;
  height: 47px;
  background: url('../assets/svg/rs-school-logo.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: auto;
  cursor: pointer;
}

.copyright-year,
.copyright-author {
  margin-right: 10px;
}

/*-------------main toys------------*/
.settings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: rgba($dark-color, 0.9);
  border: 1px solid $white;
  border-radius: 5px;
}

.settings-toy {
  width: 46%;
  padding: 10px;
  font-family: Neucha;
  > .title {
    font-size: 22px;
    line-height: 32px;
    padding-top: 10px;
  }
  input[type='checkbox'] {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
.shape-title {
}
.shape-choice {
}
.shape-choice-item {
}
.color-title {
}
.color-choice {
}
.color-choice-item {
}
.size-title {
}
.size-choice {
}
.size-choice-item {
}
.favorite-title {
}
.favorite-choice {
  position: relative;
  label {
    position: absolute;
    left: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 3px;
      border: 2px solid $white;
      transition: all 0.3s ease-in;
    }

    &::after {
      position: absolute;
      left: 3px;
      bottom: 15px;
      content: '';
      display: inline-block;
      height: 8px;
      width: 20px;
      border-left: 2px solid $light-color;
      border-bottom: 2px solid $light-color;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
    }
  }
}
.favorite-choice-item {
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.favorite-choice-item + label::after {
  left: 13px;
  bottom: 15px;
  opacity: 0;
  height: 0px;
  width: 0px;
}

.favorite-choice-item:checked + label {
  &::before {
    border: 2px solid $light-color;
    box-shadow: $light-color 0 0 10px;
  }

  &::after {
    left: 3px;
    bottom: 15px;
    opacity: 1;
    height: 8px;
    width: 20px;
  }
}

.counts {
  height: 30px;
  width: 35px;
  text-align: left;
}

.count-title {
}

#count-slider {
  height: 15px;
  width: 300px;
}

.count-slider-container,
.year-slider-container {
  display: flex;
  justify-content: space-between;
  width: 420px;
}

.year-title {
}
#year-slider {
  height: 15px;
  width: 300px;
}

.noUi-connect {
  background: $light-color !important;
}

.noUi-handle {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer !important;
  &::after,
  &::before {
    display: none !important;
  }
}

.sort-title {
}
.sort-choice {
}
.sort-choice-item {
}
.reset-filter-button {
  margin-top: 20px;
}

.toys-container {
  display: grid;
  min-height: Max(Calc(100% - 120px), content);
  gap: 20px;
  grid-template-columns: repeat(5, 260px);
  justify-content: space-between;
  padding: 25px 0;
}

.toy-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  background-color: rgba($shadow-color, 0.9);
  border: 1px solid $white;
  border-radius: 5px;
  align-content: start;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow: $light-color 0 0 20px;
  }
  &.favorite-toy {
    background-color: rgba($compl-color, 0.9);
    &:hover {
      box-shadow: invert($middle-color) 0 0 20px;
    }
  }
  .toy-card-title {
    width: 250px;
    text-align: center;
    font-family: Neucha;
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 10px;
  }
  .toy-card-image {
    width: 90px;
    padding: 10px;
    object-fit: contain;
  }
  .toy-card-describe {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    font-family: Neucha;
    font-size: 18px;
    .describe-content {
      padding: 5px 0;
    }
  }
}

.toy-card-warning {
  position: absolute;
  font-family: Neucha;
  font-size: 22px;
  width: 260px;
  height: 70px;
  text-align: center;
  padding: 10px 0;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease-in;
  color: $compl-color;
  background-color: $white;
  &.hide {
    bottom: -71px;
    opacity: 0;
  }
}
