/*------reset-----*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

/*-------Variables-------*/
$bg-dark: #030303;
$dark-red: #710707;
$gold: #9d8665;
$black: #000000;
$white: #ffffff;
$forum: 'Forum', cursive;
$roboto: 'Roboto', sans-serif;
$font80: 80px;
$font32: 32px;
$font28: 28px;
$font22: 22px;
$font18: 18px;

/*-----Extendes-------*/
%flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------Mixins--------*/
@mixin font($size, $weight, $style: $roboto) {
  font-size: $size;
  font-weight: $weight;
  font-family: $style;
}

/*--------Base----------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1480px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.section {
  padding: 75px 0;
}
.dark-section {
  background-color: $bg-dark;
}
.video-section {
  padding-top: 90px;
  padding-bottom: 75px;
}
.title {
  @include font($font80, normal, $forum);
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
  &-white {
    color: $white;
  }
  &-gold {
    color: $gold;
  }
}
.main {
}

/*------Header-----*/
.header {
  color: $white;
  padding: 60px 0;
}
.header-container {
  @extend %flex-row;
}
.logo-container {
}
.logo-link {
  @extend %flex-row;
  transition: 0.3s ease;
  transition-property: filter;
  &:hover {
    filter: invert(54%) sepia(30%) saturate(411%) hue-rotate(356deg)
      brightness(100%) contrast(92%);
  }
}
.logo-icon {
  display: flex;
  align-self: flex-start;
  background-image: url(../assets/svg/logo.svg);
  width: 49px;
  height: 26px;
  object-fit: cover;
  margin-right: 25px;
}
.logo-title {
  @include font($font28, normal, $forum);
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header-menu {
  max-width: 775px;
  width: 100%;
}
.menu {
  @extend %flex-row;
  li {
    @include font($font22, 200);
    line-height: 26px;
    letter-spacing: 2px;
    transition: 0.3s ease;
    transition-property: color;

    &:hover {
      color: $gold;
    }
  }
}

/*-------Welcome--------*/
.welcome {
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 0;
}
.welcome-container {
  min-height: 810px;
  position: relative;
  background-image: url(../assets/img/bg-welcome.jpg);
  background-position: calc(100% - 20px) calc(100% - 60px);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  color: $white;
}
.welcome-title {
  line-height: 112%;
  padding-top: 150px;
  margin-bottom: 25px;
}
.welcome-subtitle {
  @include font($font28, 300);
  line-height: 33px;
  letter-spacing: 2px;
  margin-bottom: 75px;
}
.welcome-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background-color: $dark-red;
  margin-bottom: 152px;
  transition: 0.5s ease;
  transition-property: background-color;

  &:hover {
    background-color: $gold;
  }
}
.welcome-button-text {
  @include font($font22, 300);
  line-height: 26px;
  letter-spacing: 2px;
}
.welcome-slider {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 600px;
  height: 120px;
  align-self: end;
  background-color: #fff;
}

/*-----Visiting-----*/
.visiting {
}
.visiting-container {
}
.underline-title {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $dark-red;
  }
}
.cards-container {
  @extend %flex-row;
  flex-wrap: wrap;
  gap: 79px 60px;
}
.card {
  width: 440px;
  height: 424px;
  &:hover {
    filter: brightness(0.9);
  }
}
.card-link {
  display: block;
  position: relative;
  .underline-title::after {
    bottom: -12px;
    left: 0;
    right: 32%;
    transition: ease 0.3s;
    transition-property: right;
  }
  .underline-title:hover::after {
    right: 0;
  }
}
.card-image {
  margin: 25px 0;
}
.card-title {
  @include font($font32, normal, $forum);
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.card-content {
  @include font($font22, 200);
  line-height: 26px;
  margin-bottom: 10px;
}
.card-content-small {
  @include font($font18, 200);
  line-height: 21px;
}

/*---------Explore--------*/
.explore {
  color: $white;
}
.explore-container {
  display: flex;
  justify-content: space-between;
}
.explore-content {
  padding-right: 60px;
  .title {
    margin-bottom: 100px;
  }
}
.explore-content-text {
  @include font($font22, 300);
  line-height: 38px;
  padding-bottom: 25px;
  .yellow-text {
    color: $gold;
  }
}
.explore-image {
  flex: 1 1 50%;
}

/*------Video-----*/
.video {
}
.video-container {
  @extend %flex-row;
}
.video-content-text {
  @include font($font22, 300);
  line-height: 38px;
  flex: 0 1 50%;
}

/*-----Gallery-----*/

/*-----Tickets-----*/
.tickets {
}
.tickets-container {
  .title {
    margin-bottom: 25px;
  }
}
.tickets-content {
  @extend %flex-row;
  align-items: start;
  column-gap: 60px;
}
.tickets-img {
  flex: 0 1 50%;
}
.tickets-choice {
  @extend %flex-row;
  align-items: start;
  flex-grow: 1;
}
.tickets-type {
}
.tickets-subtitle {
  @include font($font28, bold);
  line-height: 33px;
}
// --TODO--change radio buttons
.ticket-radio {
  margin-top: 50px;
  padding-top: 5px;
}
.ticket-radio input[type='radio'] {
  display: none;
}
.ticket-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 21px;
  user-select: none;
}
.ticket-radio label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: url(../assets/svg/radio-2.svg) 0 0 no-repeat;
}
.ticket-radio input[type='radio']:checked + label:before {
  background: url(../assets/svg/radio-1.svg) 0 0 no-repeat;
}
.ticket-choice {
  @include font($font22, 300);
  line-height: 26px;
  padding-left: 40px;
}
.tickets-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.amount {
}
.ticket-block {
}
.tickets-choice-age {
  @include font($font22, 300);
  line-height: 26px;
  margin-top: 13px;
  margin-bottom: 13px;
  align-self: start;
}
.button-border {
  width: 149px;
  height: 50px;
  border: 3px solid $black;
  width: 149px;
  height: 50px;
  margin-bottom: 24px;
}
.button {
  background-color: $white;
  width: 1em;
  text-align: center;
  @include font($font32, normal);
  line-height: 37px;
  cursor: pointer;
  border: 0;
  padding-top: 4px;
}
.number {
  all: unset;
  width: 2.85em;
  text-align: center;
  @include font($font22, 300);
  line-height: 26px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount-total {
  @include font($font28, bold);
  line-height: 33px;
  letter-spacing: 1.65px;
  margin-top: 28px;
  margin-bottom: 48px;
}
.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: $black;
  border-radius: 2px;
  transition: 0.5s ease;
  transition-property: background-color;
  &:hover {
    background-color: $gold;
  }
}
.button-buy-text {
  @include font($font22, 300);
  line-height: 26px;
  letter-spacing: 2px;
  color: $white;
}
.parallax-container {
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  height: 400px;
  width: 100%;
}

/*----Contacts----*/
.contacts {
}
.contacts-container {
  .section {
    @extend %flex-row;
    align-items: start;
  }
}
.contacts-content {
}
.contacts-title {
  @include font($font28, 500);
  line-height: 34px;
  margin-bottom: 39px;
}
.contacts-text {
  @include font($font22, 300);
  line-height: 26px;
  margin-bottom: 20px;
}
.contacts-map {
  flex: 0 1 66.67%;
}

/*----Footer----*/
.footer {
  color: $white;
  &.section {
    padding-bottom: 0;
  }
}
.footer-container {
  @extend %flex-row;
}
.menu-footer {
  @extend %flex-row;
  flex: 0 1 50%;
}
.header-menu {
  flex: 0 1 50%;
  column-gap: 150px;
  ul {
    column-gap: 100px;
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: left;
  }
}
.menu {
}
.social-container {
}
.social-items {
  @extend %flex-row;
}
.social-item {
}
.social-icon {
  display: flex;
  align-self: center;
  transition: ease 0.5s;
  transition-property: filter;
  &:hover {
    filter: invert(54%) sepia(30%) saturate(411%) hue-rotate(356deg)
      brightness(100%) contrast(92%);
  }
}
.circle {
  width: 46px;
  height: 46px;
  border: 1px $white solid;
  text-align: center;
  border-radius: 50%;
}
.copyright-container {
  @extend %flex-row;
  padding: 50px 0;
  @include font($font22, 200);
  line-height: 22px;
  letter-spacing: 2px;
  border-top: 3px solid $white;
}
.copyright-year {
}
.copyright-rsschool {
}
.copyright-author {
}
