@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: 100% 100%;
  background-position: center center;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-container {
  display: flex;
  column-gap: 10px;
  align-self: start;
  transition: all 500ms ease-in;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
  &::before {
    content: '';
    position: absolute;
    background-image: url('../assets/svg/play.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
  }
  &.item-pause::before {
    content: '';
    position: absolute;
    background-image: url('../assets/svg/pause.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
  }
}

.item-active {
  filter: invert(20%) sepia(70%) saturate(200%) hue-rotate(64deg)
    brightness(104%) contrast(97%);
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
  &:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
  }
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.audio-control-container {
  display: flex;
  flex-direction: column;
  width: 160px;
  opacity: 0.8;
  padding: 0 10px;
  row-gap: 10px;
  input {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    transition: background 150ms ease-in;
  }
}

.current-track-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 26px;
}

.audio-input {
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 0%,
    #ffffff7c 0%,
    #ffffff7c 100%
  );
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 1px;
    height: 1px;
    left: 0;
    border-radius: 50%;
    background: #ffffff7c;
    opacity: 0.5;
  }
}

.time-audio {
  display: flex;
}

.current-time-audio {
}

.duration-audio {
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;

  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(1.1);
  }
  &.volume {
    background-image: url('../assets/svg/volume.svg');
  }
  &.mute {
    background-image: url('../assets/svg/mute.svg');
  }
}
.volume-input {
  margin-left: 10px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 20%,
    #ffffff7c 20%,
    #ffffff7c 100%
  );
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
  }
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: all 500ms ease-in;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  &::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 500ms ease-in;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 500ms ease-in;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 500ms ease-in;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  overflow: hidden;
}

.settings {
  position: fixed;
  left: 25px;
  bottom: -100%;
  width: 420px;
  height: 320px;
  background-color: rgba(61, 61, 61, 0.5);
  padding: 10px 20px;
  transition: bottom 500ms ease-in;
  z-index: 3;
  &.up {
    bottom: 20px;
  }
}

.settings-title {
  padding: 10px;
  margin-bottom: 5px;
}

.settings-content {
  display: flex;
  justify-content: space-between;
}

.settings-left {
  width: 47%;
}

.settings-right {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }
  input {
    display: block;
    -webkit-appearance: none;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background: rgba(61, 61, 61, 0.5);
      border: 2px solid #ffffff;
      transition-duration: 500ms;
    }
    &:checked::after {
      background: #ffffff;
      box-shadow: inset 0 0 3px 0 #999999;
    }
  }
}

.switch-en {
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background: rgba(61, 61, 61, 0.5);
  opacity: 0.9;
  cursor: pointer;
  transition-duration: 500ms;
  z-index: 0;
  &::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 50%;
    top: 1px;
    left: 1px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: inset 0 0 3px 0 #999999;
    transition-duration: 500ms;
    z-index: 1;
  }
}
.switch-ru {
  background: rgba(61, 61, 61, 0.5);
  &::after {
    left: 50%;
  }
}

.lang {
  transition: opacity 300ms ease-in;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0;
}

.choice-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 110px;
  padding: 10px;
  label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }
  .image-input {
    display: block;
    -webkit-appearance: none;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background: rgba(61, 61, 61, 0.5);
      border: 2px solid #ffffff;
      transition-duration: 500ms;
    }
    &:checked::after {
      background: #ffffff;
      box-shadow: inset 0 0 3px 0 #999999;
    }
  }
}

.image-keywords {
  font-size: 14px;
}

.label-keywords {
  display: block;
  margin-bottom: 5px;
}

.github-image {
}
.flickr-image {
}
.unsplash-image {
}

.audio-on {
}
.weather-on {
}
.time-on {
}
.date-on {
}
.greeting-on {
}
.quotes-on {
}

.setting-icon {
  position: fixed;
  z-index: 3;
  width: 40px;
  height: 40px;
  left: 35px;
  bottom: 25px;
  cursor: pointer;
  opacity: 0.8;
  background: url('../assets/svg/settings.svg') no-repeat;
  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(1.1);
  }
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
  max-width: 50vw;
  text-align: center;
  margin-bottom: 10px;
}

.author {
  min-height: 20px;
}

.links-container {
  position: fixed;
  right: 20px;
  bottom: -100%;
  z-index: 3;
  width: 250px;
  min-height: 200px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgba(61, 61, 61, 0.5);
  text-align: left;
  transition: all 500ms ease-in;
  &.up {
    bottom: 20px;
  }
}

.link-title {
  text-align: center;
  margin-bottom: 10px;
}

.link-style {
  padding: 5px;
  &::before {
    content: '-';
    margin-right: 10px;
  }
}

.link-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.link-button {
  width: 45%;
  padding: 5px;
  text-transform: uppercase;
}

.links-icon {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 3;
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0.8;
  background: url('../assets/svg/link.svg') no-repeat;
  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(1.1);
  }
}

.link-enter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
  label {
    display: block;
    padding: 5px;
  }
  input {
    margin-bottom: 5px;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
